{%- import 'macro/dimensions.sql.j2' as dimensions %}
{%- import 'macro/groupbys.sql.j2' as groupbys %}
{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    {% if level %}
    {{ dimensions.date('CloseDate', level) }} AS date,
    {% endif %}
    {% if by %}
    {{ dimensions.breakdown_cte(by) }},
    {% endif %}
    AVG(days_on_market) AS days_on_market,
    AVG(avg_days_on_market_7) AS avg_days_on_market_7,
    AVG(avg_days_on_market_14) AS avg_days_on_market_14,
FROM (
    SELECT
        CloseDate,
        {% if by %}
        {{ dimensions.breakdown_cte(by) }},
        {% endif %}
        days_on_market,
        AVG(days_on_market) OVER (
            {% if by %}
            PARTITION BY {{ dimensions.breakdown_cte(by) }}
            {% endif %}
            ORDER BY CloseDate
            ROWS BETWEEN 7 PRECEDING AND CURRENT ROW
        ) AS avg_days_on_market_7,
        AVG(days_on_market) OVER (
            {% if by %}
            PARTITION BY {{ dimensions.breakdown_cte(by) }}
            {% endif %}
            ORDER BY CloseDate
            ROWS BETWEEN 14 PRECEDING AND CURRENT ROW
        ) AS avg_days_on_market_14,
    FROM
        (
            SELECT
                CloseDate,
                {% if by %}
                {{ dimensions.breakdown(by) }},
                {% endif %}
                AVG(COALESCE(DATE_DIFF(CloseDate, OnMarketDate, DAY), 0) + 1) as days_on_market,
            FROM
                MLSGrid.Property
            WHERE
                {{ filters.geo(county, city, postal_code) }}
            GROUP BY
                CloseDate
                {% if by%}
                ,{{ groupbys.breakdown(by) }}
                {% endif %}
        )
)
WHERE
    CloseDate BETWEEN {{ start|quote }} AND {{ end|quote }}
{% if level and by %}
GROUP BY 1, 2
{% elif level or by %}
GROUP BY 1
{% endif %}
{% if level %}
ORDER BY
    date
{% endif %}
