{%- macro geo(county, city) -%}
    {%- if county and city -%}
    (
        County IN (
            {%- set comma = joiner() -%}
            {%- for _county in county -%}
            {{ comma() }} {{ _county | quote }}
            {%- endfor -%}
        )
        AND City IN (
            {%- set comma = joiner() -%}
            {%- for _city in city -%}
            {{ comma() }} {{ _city | quote }}
            {%- endfor -%}
        )
    )
    {%- elif county -%}
    County IN (
        {%- set comma = joiner() -%}
        {%- for _county in county -%}
        {{ comma() }} {{ _county | quote }}
        {%- endfor -%}
    )
    {%- elif city -%}
    City IN (
        {%- set comma = joiner() -%}
        {%- for _city in city -%}
        {{ comma() }} {{ _city | quote }}
        {%- endfor -%}
    )
    {%- else -%}
    1 = 1
    {%- endif -%}
{%- endmacro -%}

{%- macro mls_status_closed() -%}
    MlsStatus = 'Closed'
{%- endmacro -%}

{%- macro mls_status_active() -%}
    MlsStatus in ('Active', 'Coming Soon / Hold', 'Under Contract - Showing', 'Under Contract - Not Showing', 'Closed')
{%- endmacro -%}

{%- macro close_date(start, end) -%}
    (CloseDate BETWEEN {{ start | quote }} AND {{ end | quote }})
{%- endmacro -%}

{%- macro market_date(start, end) -%}
    (
        OnMarketDate <= {{ end | quote }}
        AND (OffMarketDate >= {{ start | quote }} OR ContingentDate >= {{ start | quote }})
    )
{%- endmacro -%}
