{%- import 'macro/dimensions.sql.njk' as dimensions %}
{%- import 'macro/filters.sql.njk' as filters %}

select
    {{ dimensions.date('coalesce(OffMarketDate, ContingentDate)', level) }} as date,
    PropertySubTypeGroup as property_sub_type_group,
    count(ListingId) as total_units,
from
    MLSGrid.Property
where
	PropertySubTypeGroup in ('Single Family Residence','Condominium' )
    and {{ filters.market_date(start, end) }}
    and {{ filters.geo(county, city, postal_code) }}
group by
    date,
    property_sub_type_group
