{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    {% if level %}
    CloseDate AS date,
    {% endif %}
    SUM(ClosePrice) AS total_close_price,
    AVG(ClosePrice) AS avg_close_price,
    AVG(ListPrice) AS avg_list_price,
    AVG(COALESCE(DATE_DIFF(CloseDate, OnMarketDate, DAY), 0) + 1) AS avg_days_to_close,
FROM
    MLSGrid.Property
WHERE
    {{ filters.close_date(start, end) }}
    AND {{ filters.geo(county, city, postal_code) }}
{% if level %}
GROUP BY
    date
ORDER BY
    date
{% endif %}
