{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    {% if level %}
    OnMarketDate AS date,
    {% endif %}
    AVG(COALESCE(DATE_DIFF(CURRENT_DATE(), OnMarketDate, DAY), 0) + 1) AS avg_days_to_market,
FROM
    MLSGrid.Property
WHERE
    MlsStatus in ('Active')
    AND {{ filters.market_date(start, end) }}
    AND {{ filters.geo(county, city, postal_code) }}
{% if level %}
GROUP BY
    date
ORDER BY
    date
{% endif %}
