{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    {% if level %}
    CloseDate AS date,
    {% endif %}
    SUM(ClosePrice) AS total_close_price,
FROM
    MLSGrid.Property
WHERE
    PropertySubTypeGroup = 'Condominium'
    AND {{ filters.close_date(start, end) }}
    AND {{ filters.geo(county, city, postal_code) }}
{% if level %}
GROUP BY
    date
ORDER BY
    date
{% endif %}
