{%- import 'macro/filters.sql.j2' as filters %}

SELECT
    ((active / closed) / days_diff) * 30 as value
FROM
    (
        SELECT
            (
                SELECT
                    COUNT(*) AS active
                FROM
                    MLSGrid.Property
                WHERE
                    MlsStatus = 'Active'
            ) AS active,
            (
                SELECT
                    COUNT(*) AS closed
                FROM
                    MLSGrid.Property
                WHERE
                    1 = 1
                    AND {{ filters.mls_status_closed() }}
                    AND {{ filters.close_date(start, end) }}
                    AND {{ filters.geo(county, city, postal_code) }}
            ) AS closed,
            (
                SELECT
                    MAX((DATE_DIFF ({{ end | quote }}, {{ start | quote }}, DAY) + 1)) AS days_diff
                FROM
                    MLSGrid.Property
                WHERE
                    1 = 1
                    AND {{ filters.mls_status_closed() }}
                    AND {{ filters.close_date(start, end) }}
                    AND {{ filters.geo(county, city, postal_code) }}
            ) AS days_diff
    )
